*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  background-image: url(Images/bmi\ wall2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(10px);
}